{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home - TCG Store{% endblock %}

{% block content %}
<h3 class="section-title">Recently Listed Cards</h3>

<div class="carousel-wrapper fade-carousel">
  <div class="fade-left"></div>
  
  <div class="card-carousel">
    <div class="card-track">
      {% for item in carousel_items %}
        <div class="card-item">
          <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.image.url }}" alt="{{ item.title }}">
          </a>
          <div class="card-caption">{{ item.title }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="fade-right"></div>
</div>

<h3 class="section-title">🔥 Featured Picks</h3>
<div id="featuredCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for card in featured_items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="d-flex justify-content-center">
          <div class="card card-hover" style="width: 18rem;">
            <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <a href="{{ card.get_absolute_url }}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#featuredCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>




{% endblock %}

{% block extra_scripts %}
<script src="{% static 'home/scripts.js' %}" defer></script>
{% endblock %}
